[Unit]
Description=Telegram Bot for HR Audio Processing
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=user
Group=user
WorkingDirectory=/home/user/my_projects/notion_BHtrans_project/tg_call_bot
Environment=PATH=/home/user/my_projects/notion_BHtrans_project/venv/bin
ExecStart=/home/user/my_projects/notion_BHtrans_project/venv/bin/python main.py
StandardOutput=journal
StandardError=journal
SyslogIdentifier=telegram-bot

[Install]
WantedBy=multi-user.target 